{{#index}}
<!DOCTYPE html>
<html lang="en">
  <head>
		{{{header}}}
  </head>

  <body>
		{{{nav}}}
  
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 class="display-3">Exaltation</h1>
			<p>An easy to use static blog generator for Github users</p>
			<p>
				<h3>Getting Started</h3>
				<ol>
					<li>Enable <a href="https://pages.github.com">Github pages</a> for your repository.</li>
					<li><a href="https://github.com/cdiggins/exaltation/archive/master.zip">Download and unzip</a> the Exaltation repository.</li>
					<li>Edit your local version of <code>src\data.js</code> with your site information.</li>
				</ol>

				<h3>Authoring Blog Posts</h3>
				<ol>
					<li>Create a new markdown file in the <code>src\articles\</code> folder with your blog article</li>
					<li>Add a new entry to <code>src\articles.json</code> file with the title, date, file name, and description of your blog article.</li>
					<li>Run <code>node src\build.js</code></li>
					<li>Commit and push your changes to your repository.</li>
				</ol>
			</p>
		</div>
    </div>
    
	{{{footer}}}
  </body>
</html>
{{/index}}